@model ProjetoFinal_Myte_Grupo3.Models.WorkingHour

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>WorkingHour</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WBS)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WBS.Code)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkedDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkedDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkedHours)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkedHours)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Employee)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Employee.Email)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.WorkingHourId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
