@model IEnumerable<ProjetoFinal_Myte_Grupo3.Models.WorkingHour>

@{
    ViewData["Title"] = "Index";
    var dateRange = (List<DateTime>)ViewBag.DateRange;
    var wbsList = (List<ProjetoFinal_Myte_Grupo3.Models.WBS>)ViewBag.WBSList;
    var allWbsList = (List<ProjetoFinal_Myte_Grupo3.Models.WBS>)ViewBag.AllWBSList;
    var workingHoursByWbsAndDate = (List<List<int>>)ViewBag.WorkingHoursByWbsAndDate;
    var totalsPerDay = (List<int>)ViewBag.TotalsPerDay;
    var errorMessage = TempData["ErrorMessage"] as string;
    var successMessage = TempData["SuccessMessage"] as string;
    var currentTotalSum = 0;
    var employeeName = ViewBag.EmployeeName;
    var employeeId = ViewBag.EmployeeId;
    var isEditable = TempData["IsEditable"] as bool? ?? false;

    System.Globalization.CultureInfo.CurrentCulture = new System.Globalization.CultureInfo("pt-BR");
    System.Globalization.CultureInfo.CurrentUICulture = new System.Globalization.CultureInfo("pt-BR");
}

<body>
    <div class="container title-container">
        <h1 class="titulo_boasVindas"><i class="fa fa-user" style="color: #fd7e14;"></i> Bem-vindo, <span style="color: #fd7e14;">@employeeName!</span></h1>
        <div class="date-forms-container">
            <form method="post" asp-controller="WorkingHours" asp-action="Index">
                <input type="hidden" name="selectedDate" value="@dateRange[0].AddDays(-15).ToString("yyyy-MM-dd")">
                <button type="submit" class="btn btn-link"><i class="fas fa-chevron-left"></i></button>
            </form>
            <form id="formIntervalo" method="post" asp-controller="WorkingHours" asp-action="Index">
                <div class="form-group">
                    <div class="input-group">
                        <input type="date" id="dataInicio" name="selectedDate" class="form-control" value="@dateRange[0].ToString("yyyy-MM-dd")">
                        <div>
                            <button type="submit" class="btn btn-primary btn_buscar_tabela">Buscar</button>
                        </div>
                    </div>
                </div>
            </form>
            <form method="post" asp-controller="WorkingHours" asp-action="Index">
                <input type="hidden" name="selectedDate" value="@dateRange[0].AddDays(15).ToString("yyyy-MM-dd")">
                <button type="submit" class="btn btn-link"><i class="fas fa-chevron-right"></i></button>
            </form>
        </div>
    </div>

    <form id="saveHoursForm" method="post" action="@Url.Action("SaveWorkingHours", "WorkingHours")">
        <input type="hidden" id="isEditable" name="isEditable" value="@isEditable" />
        <table class="table table-striped">
            <thead>
                <tr id="linhaCabecalho">
                    <th class="titulo_tabela">Código WBS</th>
                    @foreach (var date in dateRange)
                    {
                        var dayOfWeek = date.ToString("ddd", new System.Globalization.CultureInfo("pt-BR"));
                        var formattedDayOfWeek = System.Globalization.CultureInfo.CurrentCulture.TextInfo.ToTitleCase(dayOfWeek.ToLower());

                        <th class="@(date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday ? "weekend-column" : "")">

                            <p>@formattedDayOfWeek</p>
                            <p>@date.ToString("dd/MM")</p>
                            <input type="hidden" name="Dates[]" value="@date.ToString("yyyy-MM-dd")" />
                        </th>
                    }
                    <th class="text_totais">Total</th>
                </tr>
            </thead>
            <tbody id="corpoTabela">
                @for (var wbsIndex = 0; wbsIndex < wbsList.Count; wbsIndex++)
                {
                    currentTotalSum = 0;
                    var wbs = wbsList[wbsIndex];
                    <tr>
                        <td>
                            <select name="WBSId[]" class="loaded-wbs" @(isEditable ? "" : "disabled")>
                                <option value="@wbs.WBSId">@wbs.Code</option>
                            </select>
                        </td>
                        @for (var dateIndex = 0; dateIndex < dateRange.Count; dateIndex++)
                        {
                            var hours = workingHoursByWbsAndDate[wbsIndex][dateIndex];
                            var date = dateRange[dateIndex];
                            var isWeekend = date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday;
                            <td class="@(isWeekend ? "weekend-column" : "")">
                                <input type="@(isWeekend ? "hidden" : "text")"
                                       name="Hours[@wbsIndex][@dateIndex]"
                                       value="@hours"
                                @(isEditable ? "" : "disabled")>    
                            </td>
                        }
                        @for (var dateIndex = 0; dateIndex < dateRange.Count; dateIndex++)
                        {
                            var hours = workingHoursByWbsAndDate[wbsIndex][dateIndex];
                            currentTotalSum = currentTotalSum + hours;
                        }
                        <td>@currentTotalSum</td>
                    </tr>
                }

                @if (wbsList.Count < 4)
                {
                    @for (var wbsIndex = wbsList.Count; wbsIndex < 4; wbsIndex++)
                    {
                        currentTotalSum = 0;
                        <tr>
                            <td>
                                <select name="WBSId[]" class="available-wbs" @(isEditable ? "" : "disabled")>
                                    <option value="0" selected>Selecione sua WBS</option>
                                    @for (var currWbsIndex = 0; currWbsIndex < allWbsList.Count; currWbsIndex++)
                                    {
                                        var wbs = allWbsList[currWbsIndex];
                                        var doesItExists = wbsList.Any(existingWbs => existingWbs.Code == wbs.Code);
                                        @if (!doesItExists)
                                        {
                                            <option value="@wbs.WBSId">@wbs.Code</option>
                                        }
                                    }
                                </select>
                            </td>
                            @for (var dateIndex = 0; dateIndex < dateRange.Count; dateIndex++)
                            {
                                var hours = workingHoursByWbsAndDate[wbsIndex][dateIndex];
                                var date = dateRange[dateIndex];
                                var isWeekend = date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday;
                                <td class="@(isWeekend ? "weekend-column" : "")">
                                    <input type="@(isWeekend ? "hidden" : "text")"
                                           name="Hours[@wbsIndex][@dateIndex]"
                                           value="@hours"
                                    @(isEditable ? "" : "disabled")>
                                </td>
                            }
                            @for (var dateIndex = 0; dateIndex < dateRange.Count; dateIndex++)
                            {
                                var hours = workingHoursByWbsAndDate[wbsIndex][dateIndex];
                                currentTotalSum = currentTotalSum + hours;
                            }
                            <td>@currentTotalSum</td>
                        </tr>
                    }
                }
            </tbody>
            <tfoot>
                <tr id="linhaTotais">
                    <td class="text_totais">Total de Horas</td>
                    @for (var i = 0; i < totalsPerDay.Count; i++)
                    {
                        var date = dateRange[i];
                        var isWeekend = date.DayOfWeek == DayOfWeek.Saturday || date.DayOfWeek == DayOfWeek.Sunday;

                        <td class="@(isWeekend ? "weekend-column" : "")" id="totalDia-@i">
                            @(isWeekend ? "" : @totalsPerDay[i])
                        </td>

                    }
                    <td id="totalGeral">@totalsPerDay.Sum()</td>
                </tr>
            </tfoot>
        </table>
        <div class="msg_tabela">
            <div class="but_salvar">
                <button class="btn btn-primary" id="submitWorkingHours" type="submit">Salvar</button>
                <button class="btn btn-secondary" id="editWorkingHours" type="button" onclick="enableEditing()">Editar</button>
                @if (TempData["IsEditable"] != null && (bool)TempData["IsEditable"] == false)
                {
                    <span> Horas já enviadas </span>
                }
            </div>

            @if (!string.IsNullOrEmpty(errorMessage))
            {
                <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
                    <div class="toast-header" style="background-color: #ffe6e6">
                        <img src="https://img.icons8.com/?size=100&id=59782&format=png&color=FA5252" style="width: 30px; height: 30px;" class="rounded me-2">
                        <strong class="me-auto" style="color: black; font-size: 16px;">Erro!</strong>
                        <button type="button" class="btn-close" data-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body" style="background-color: #ffe6e6; font-weight: 400; font-size: 15px;">
                        @errorMessage
                    </div>
                </div>
            }

            @if (!string.IsNullOrEmpty(successMessage))
            {
                <div role="alert" aria-live="assertive" aria-atomic="true" class="toast" data-autohide="false">
                    <div class="toast-header" style="background-color: #ebffe5">
                        <img src="https://img.icons8.com/?size=100&id=UrUFNWAeX8fJ&format=png&color=40C057" style="width: 30px; height: 30px;" class="rounded me-2">
                        <strong class="me-auto" style="color: black; font-size: 16px;">Sucesso!</strong>
                        <button type="button" class="btn-close" data-dismiss="toast" aria-label="Close"></button>
                    </div>
                    <div class="toast-body" style="background-color: #ebffe5; font-weight: 400; font-size: 15px;">
                        @successMessage
                    </div>
                </div>
            }
        </div>
    </form>
</body>

@section Scripts {
    <script>
        $(document).ready(function () {
            // Mostrar ou ocultar o botão de edição com base no valor de TempData["IsEditable"]
            if ('@isEditable' == 'True') {
                $('#submitWorkingHours').show();
                $('#editWorkingHours').hide();
            } else {
                $('#submitWorkingHours').hide();
                $('#editWorkingHours').show();
            }
        });

        $('.toast').toast('show');

        function enableEditing() {
            // Habilitar todos os inputs de horas para edição
            $('input[type="text"], select').prop('disabled', false);
            $('#isEditable').val('true');
            // Substituir o botão Editar por Salvar novamente
            $('#submitWorkingHours').show();
            $('#editWorkingHours').hide();
        }
    </script>
}
