@model IEnumerable<ProjetoFinal_Myte_Grupo3.Models.WorkingHour>

@{
    ViewData["Title"] = "Index";
    var dateRange = (List<DateTime>)ViewBag.DateRange;
    var wbsList = (List<ProjetoFinal_Myte_Grupo3.Models.WBS>)ViewBag.WBSList;
    var workingHoursByWbsAndDate = (List<List<int>>)ViewBag.WorkingHoursByWbsAndDate;
    var totalsPerDay = (List<int>)ViewBag.TotalsPerDay;
    var errorMessage = TempData["ErrorMessage"] as string;
    var successMessage = TempData["SuccessMessage"] as string;
}

<h1 class="titulo_boasVindas">Bem-vindo, @ViewData["EmployeeName"]!</h1>

<link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">

<style>
    h1.titulo_boasVindas {
        margin-top: 70px;
        margin-bottom: 100px;
        font-family: sans-serif;
    }

    table {
        border-collapse: collapse;
        width: 100%;
    }

    tbody {
        border-color: inherit;
        border-style: solid;
    }

    th, td {
        border: none;
        padding: 8px;
        text-align: center;
    }

    input {
        width: 100%;
        border: none;
        text-align: center;
    }

    select {
        border: none;
    }

    .mt-4 {
        padding: 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .but_salvar {
        display: flex;
        justify-content: flex-end;
    }

    .form-group {
        width: 250px;
    }
</style>

<div class="container mt-4">
    <form id="formIntervalo" method="post" asp-controller="WorkingHours" asp-action="Index">
        <div class="form-group">
            <label for="dataInicio">Selecione a data:</label>
            <div class="input-group">
                <input type="date" id="dataInicio" name="startDate" class="form-control" value="@dateRange[0].ToString("yyyy-MM-dd")">
                <div class="input-group-append">
                    <button type="submit" class="buttons_orange">Buscar</button>
                </div>
            </div>
        </div>
    </form>
</div>

<br />

<body>
    <form id="saveHoursForm" method="post" action="@Url.Action("SaveWorkingHours", "WorkingHours")">
        <table class="table table-bordered">
            <thead class="table-light">
                <tr id="linhaCabecalho">
                    <th class="titulo_tabela"> MyThree</th>
                    @foreach (var date in dateRange)
                    {
                        <th>
                            <p>@date.ToString("ddd")</p>
                            <p>@date.ToString("dd/MM")</p>
                             <input type="hidden" name="Dates[]" value="@date.ToString("yyyy-MM-dd")" />
                        </th>
                    }
                    <th>Total</th>
                </tr>
            </thead>
            <tbody id="corpoTabela">
                @for (var wbsIndex = 0; wbsIndex < wbsList.Count; wbsIndex++)
                {
                    var wbs = wbsList[wbsIndex];
                    <tr>
                        <td>
                            <select name="WBSId[]">
                                <option value="@wbs.WBSId">@wbs.Code</option>
                            </select>
                        </td>
                        @for (var dateIndex = 0; dateIndex < dateRange.Count; dateIndex++)
                        {
                            var hours = workingHoursByWbsAndDate[wbsIndex][dateIndex];
                            <td><input type="text" name="Hours[@wbsIndex][@dateIndex]" class="hour-input" value="@hours"></td>
                        }
                    </tr>
                }
            </tbody>
            <tfoot>
                <tr id="linhaTotais">
                    <td>Total por Dia</td>
                    @for (var i = 0; i < totalsPerDay.Count; i++)
                    {
                        <td id="totalDia-@i">@totalsPerDay[i]</td>
                    }
                    <td id="totalGeral">@totalsPerDay.Sum()</td>
                </tr>
            </tfoot>
        </table>

        <button class="buttons_orange" id="submitWorkingHours" type="submit">Salvar Horas</button>

        @if (!string.IsNullOrEmpty(errorMessage))
        {
            <div class="alert alert-danger" role="alert">
                @errorMessage
            </div>
        }

        @if (!string.IsNullOrEmpty(successMessage))
        {
            <div class="alert alert-success" role="alert">
                @successMessage
            </div>
        }
    </form>

    <br />
    <br />
    <br />
    <br />
    <br />
</body>
