@model IEnumerable<ProjetoFinal_Myte_Grupo3.Models.Department>
@{
    ViewData["Title"] = "Departamentos";
}
<br />
<nav data-mdb-navbar-init class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol id="bread" class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-secondary" asp-area="" asp-controller="WorkingHours" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a class="text-secondary" asp-area="" asp-controller="Departments" asp-action="Index">Departamentos</a></li>
            </ol>
        </nav>
    </div>
</nav>
<div class="card shadow bg-light rounded-3">
    <div class="card-header card_color">
        <h2 class="card-title text-center mb-0 mt-0 text-white">Departamentos</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-1 mt-1">
                <div class="text-left">
                    <a class="btn btn-primary" asp-action="Create">Criar</a>
                </div>
            </div>
            <div class="col-md-5 mb-2 form-outline" data-mdb-input-init style="margin-left: 32rem;">
                <input type="search" id="searchInput" class="form-control text-left" data-mdb-input-init placeholder="Filtrar Departamento">
            </div>
        </div>
        @if (TempData["ErrorMessage"] != null)
        {
            <div class="alert alert-danger" role="alert">
                @TempData["ErrorMessage"]
            </div>
        }
        <table class="table table-light">
            <thead class="table-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeCount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentName)
                        </td>
                        <td>
                            @item.EmployeeCount
                        </td>
                        <td>
                            <a class="btn bi bi-pencil-square" title="Editar" asp-action="Edit" asp-route-id="@item.DepartmentId"></a>
                            <a class="btn bi bi-list" title="Detalhes" asp-action="Details" asp-route-id="@item.DepartmentId"></a>
                            <a class="btn bi bi-trash" title="Excluir" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@item.DepartmentId"></a>
                            @* <button type="button" class="btn bi bi-trash" title="Excluir" data-bs-toggle="modal" data-bs-target="#deleteModal" data-id="@item.DepartmentId"></button> *@
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<!-- Modal para excluir-->
<div class="modal fade" id="deleteModal" tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content" id="deleteModalContent">
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $('#deleteModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var departmentId = button.data('id');

            $.get('/Departments/DeleteModal/' + departmentId, function (data) {
                $('#deleteModalContent').html(data);
            });
        });

        $(document).ready(function () {
            $("#searchInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("table tbody tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
                });
            });
        });
    </script>
}