@model IEnumerable<ProjetoFinal_Myte_Grupo3.Models.Department>
@{
    ViewData["Title"] = "Departamentos";
}
<h1>Departamentos</h1>
<hr />
<div class="mb-2">
    <a class="btn btn-primary" asp-action="Create">Criar</a>
</div>
<table class="table">
    <thead class="talbe-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    <a class="btn bi bi-pencil-square" asp-action="Edit" asp-route-id="@item.DepartmentId"></a>
                    <a class="btn bi bi-list" asp-action="Details" asp-route-id="@item.DepartmentId"></a>
                    <a class="btn bi bi-trash" asp-action="Delete" asp-route-id="@item.DepartmentId"></a>
                </td>
            </tr>
        }
    </tbody>
</table>