@model IEnumerable<ProjetoFinal_Myte_Grupo3.Models.Department>
@{
    ViewData["Title"] = "Departamentos";
    var departmentId = ViewBag.DepartmentId;
    var departmentName = ViewBag.DepartmentName;
}
<nav data-mdb-navbar-init class="navbar navbar-expand-lg">
    <div class="container-fluid">
        <nav aria-label="breadcrumb">
            <ol id="bread" class="breadcrumb">
                <li class="breadcrumb-item"><a class="text-secondary" asp-area="" asp-controller="WorkingHours" asp-action="Index">Home</a></li>
                <li class="breadcrumb-item"><a class="text-secondary" asp-area="" asp-controller="Departments" asp-action="Index">Departamentos</a></li>
            </ol>
        </nav>
    </div>
</nav>
<div class="card shadow bg-light rounded-3">
    <div class="card-header card_color">
        <h2 class="card-title text-center mb-0 mt-0 text-white">Departamentos</h2>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-md-1 mt-1">
                <div class="text-left">
                    <a class="btn btn-primary" asp-action="Create">Criar</a>
                </div>
            </div>
            <div class="col-md-5 mb-2 form-outline" data-mdb-input-init style="margin-left: -1.8rem;">
                <input type="search" id="searchInput" class="form-control text-left" data-mdb-input-init placeholder="Pesquisar Departamento">
            </div>
        </div>
        <table class="table table-light">
            <thead class="talbe-light">
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.DepartmentName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.EmployeeCount)
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.DepartmentName)
                        </td>
                        <td>
                            @item.EmployeeCount
                        </td>
                        <td>
                            <a class="btn bi bi-pencil-square" title="Editar" asp-action="Edit" asp-route-id="@item.DepartmentId"></a>
                            <a class="btn bi bi-list" title="Detalhes" asp-action="Details" asp-route-id="@item.DepartmentId"></a>
                            @* <a class="btn bi bi-trash" data-toggle="modal" data-target="#exportModal"></a> *@
                            @* <a class="btn bi bi-trash" title="excluir" asp-action="delete" asp-route-id="@item.DepartmentId"></a> *@

                            <button type="button" class="btn bi bi-trash" data-bs-toggle="modal" data-bs-target="#modal-@item.DepartmentId" data-id="@item.DepartmentId">
                            </button>



                        </td>
                    </tr>

<!--Modal para Excluir-->
@* <div class="modal fade" id="exportModal" tabindex="-1" role="dialog" aria-labelledby="exportModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-controller="Departments" asp-action="Delete" method="post">
                <div class="modal-header">
                   <h5 class="modal-title" id="exportModalLabel">Excluir Departamento</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                    <div class="modal-body">
                        <h6>Tem certeza que deseja excluir esse Departamento?</h6>
                        <div>
                            <dl class="row">
                                <dt class="col-sm-2">
                                    Departamento:
                                </dt>
                                <!--Puxar o DepartmentName-->
                                <dd class="col-sm-10">

                                </dd>
                            </dl>
                        </div>
                        <!--Linkar o DepartmentId correto-->
                        <form asp-action="Delete">
                        <input type="hidden" @* asp-for="" />
                            <button type="submit" class="btn btn-primary mt-2 text-white">Excluir</button>
                            <a class="btn btn-secondary mt-2" asp-action="Index">Voltar</a>
                        </form>
                    </div>
            </form>
        </div>
    </div>
</div> *@

@section Scripts {
    <script>
        document.getElementById('searchInput').addEventListener('input', function () {
            var input, filter, table, tr, td, i, departmentName;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            table = document.querySelector('table');
            tr = table.getElementsByTagName('tr');

            for (i = 0; i < tr.length; i++) {
                departmentName = tr[i].getElementsByTagName('td')[0];
                if (departmentName) {
                    if ((departmentName.textContent || departmentName.innerText).toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = '';
                    } else {
                        tr[i].style.display = 'none';
                    }
                }
            }
        });
    </script>
}