@model IEnumerable<ProjetoFinal_Myte_Grupo3.Models.Department>
@{
    ViewData["Title"] = "Departamentos";
}
<h1>Departamentos</h1>
<hr />
<div class="mb-2">
    <a class="btn btn-primary" asp-action="Create">Criar</a>
</div>

<div class="row mb-3">
    <div class="col-4">
        <input type="text" id="searchInput" class="form-control" placeholder="Pesquisar Departamento...">
    </div>
</div>

<table class="table" id="table">
    <thead class="talbe-light">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepartmentName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.DepartmentName)
                </td>
                <td>
                    <a class="btn bi bi-pencil-square" title="Editar" asp-action="Edit" asp-route-id="@item.DepartmentId"></a>
                    <a class="btn bi bi-list" title="Detalhes" asp-action="Details" asp-route-id="@item.DepartmentId"></a>
                    <a class="btn bi bi-trash" title="Excluir" asp-action="Delete" asp-route-id="@item.DepartmentId"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        document.getElementById('searchInput').addEventListener('input', function () {
            var input, filter, table, tr, td, i, departmentName;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            table = document.querySelector('table');
            tr = table.getElementsByTagName('tr');

            for (i = 0; i < tr.length; i++) {
                departmentName = tr[i].getElementsByTagName('td')[0];
                if (departmentName) {
                    if ((departmentName.textContent || departmentName.innerText).toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = '';
                    } else {
                        tr[i].style.display = 'none';
                    }
                }
            }
        });
    </script>
}
