@model IEnumerable<ProjetoFinal_Myte_Grupo3.Models.WBS>
@{
    ViewData["Title"] = "WBS";
}
<h1>WBS</h1>
<hr />
<a asp-action="Create" class="btn btn-primary mb-2">Criar</a>
<form asp-controller="WBS" asp-action="Index" method="get">
    <div class="row">
        <div class="col-5">
            <div class="form-group">
                <label>Type</label><br />
                <input type="checkbox" name="type" value="all" id="all" onchange="toggleCheckboxes(this)" />
                <label for="all">Todos</label><br />
                <input type="checkbox" name="type" value="chargeability" id="chargeability" class="type-checkbox" />
                <label for="chargeability">Chargeability</label><br />
                <input type="checkbox" name="type" value="non-chargeability" id="non-chargeability" class="type-checkbox" />
                <label for="non-chargeability">Non-chargeability</label>
            </div>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
</form>

<table class="table table-striped">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a class="btn bi bi-pencil-square" asp-action="Edit" asp-route-id="@item.WBSId"></a>
                    <a class="btn bi bi-list" asp-action="Details" asp-route-id="@item.WBSId"></a>
                    <a class="btn bi bi-trash" asp-action="Delete" asp-route-id="@item.WBSId"></a>
                </td>
            </tr>
        }
    </tbody>
</table>