@model IEnumerable<ProjetoFinal_Myte_Grupo3.Models.WBS>
@{
    ViewData["Title"] = "WBS";
}
<h1>WBS</h1>
<hr />
<a asp-action="Create" class="btn btn-primary mb-2">Criar</a>
<form asp-controller="WBS" asp-action="Index" method="get">
    <div class="row">
        <div class="col-5">
            <div class="form-group">
                <label>Type</label><br />
                <input type="checkbox" name="type" value="all" id="all" onchange="toggleCheckboxes(this)" />
                <label for="all">Todos</label><br />
                <input type="checkbox" name="type" value="chargeability" id="chargeability" class="type-checkbox" />
                <label for="chargeability">Chargeability</label><br />
                <input type="checkbox" name="type" value="non-chargeability" id="non-chargeability" class="type-checkbox" />
                <label for="non-chargeability">Non-chargeability</label>
            </div>
        </div>
        <div class="col-2">
            <button type="submit" class="btn btn-primary">Filter</button>
        </div>
    </div>
</form>

<div class="row mb-3">
    <div class="col-4">
        <input type="text" id="searchInput" class="form-control" placeholder="Pesquisar WBS...">
    </div>
</div>


<table class="table table-striped" id="wbsTable">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Code)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Type)
                </td>
                <td>
                    <a class="btn bi bi-pencil-square" title="Editar" asp-action="Edit" asp-route-id="@item.WBSId"></a>
                    <a class="btn bi bi-list" title="Detalhes" asp-action="Details" asp-route-id="@item.WBSId"></a>
                    <a class="btn bi bi-trash" title="Excluir" asp-action="Delete" asp-route-id="@item.WBSId"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        document.getElementById('searchInput').addEventListener('input', function () {
            var input, filter, table, tr, td, i, code, description;
            input = document.getElementById('searchInput');
            filter = input.value.toUpperCase();
            table = document.getElementById('wbsTable');
            tr = table.getElementsByTagName('tr');

            for (i = 0; i < tr.length; i++) {
                code = tr[i].getElementsByTagName('td')[0];
                description = tr[i].getElementsByTagName('td')[1];
                if (code || description) {
                    if ((code.textContent || code.innerText).toUpperCase().indexOf(filter) > -1 ||
                        (description.textContent || description.innerText).toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = '';
                    } else {
                        tr[i].style.display = 'none';
                    }
                }
            }
        });
    </script>
}
